In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

import warnings
warnings.filterwarnings(action='ignore')

In [2]:
df = pd.read_csv('Algerian Forest Fire_final.csv')
df.head()

,day,month,Temperature,RH,Ws,Rain,FFMC,DC,ISI,BUI,Classes_mode,FWI_mean
0,1,6,29,57,18,0.0,65.7,7.6,1.3,3.4,not fire,0.5
1,2,6,29,61,13,1.3,64.4,7.6,1.0,3.9,not fire,0.4
2,5,6,27,77,16,0.0,64.8,14.2,1.2,3.9,not fire,0.5
3,6,6,31,67,14,0.0,82.6,22.2,3.1,7.0,fire,2.5
4,7,6,33,54,13,0.0,88.2,30.5,6.4,10.9,fire,7.2